<h1>Youtube Videos From Timeline Saved to Storage</h1>

<table>
  <thead>
    <tr>
      <th bgcolor="#CDE2FA">Video</th>
    </tr>
  </thead>

  <tbody>

    <% @contents.each do |youtube_vdo| %>
      <div style="width:50%; margin:0 auto;">
        <div id="nav">
          <img src="http://images.clipartpanda.com/user-clipart-bcyogLKcL.png" alt="Mountain View" style="width:50px;height:50px">
          <br>
</div>

        <div id="section">
         
          <div style="width:500px; height:250px;">
            <%= youtube_vdo%>
            <%= youtube_vdo.html_safe %></td>

          </div>
        </div>
        <br>

        <div id="footer"><br></div>
      </div>


      <tr>
        <td bgcolor="#E0E0E0">





      </tr>
    <% end %>
  </tbody>
</table>

<br>
