<h1>Youtube Videos From Timeline Saved to Storage</h1>

<table>
  <thead>
    <tr>
      <th bgcolor="#CDE2FA">Video</th>
    </tr>
  </thead>

  <tbody>

    <% @contents.each do |youtube_vdo| %>

      <tr>
        <td bgcolor="#E0E0E0">

          <%= youtube_vdo.html_safe %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
